.masthead-holder{

	margin: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}


.masthead-title{
	color: #000;
	text-decoration: none;
	font-size: 23px;
	font-family: sans-serif;

}

.masthead-nav{
	padding: 20px;

}

.masthead-nav-link{
	
	font-size: 16px;
	font-family: sans-serif;	
	cursor: pointer;

	border: none;
	background-color: transparent;
}

.masthead-nav-link:hover{
	
	text-decoration: underline;	

}